.idea/*
image-comparison/*
logs/*
node_modules/*
report/*
screenshots/*
src/.DS_Store
.DS_Store
cypress/logs/*
src/fixtures/files/*.xlsx
main--1.yml
.github/actions-scripts/.env
cypress.json
/cypress
